In [2]:
# Imports
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series
from predict_federal_reserve_interest_rates.util.date import parse_cpi_index_period
from predict_federal_reserve_interest_rates.util.viz import line_plot

In [3]:
# Importdata
# cpi_index_df = pd.read_csv("predict_federal_reserve_interest_rates/data/bls/cpi/bls_cpi_overall.txt",
#                            dtype = {'series_id': str,
#                                     'year': int,
#                                     'period': str,
#                                     'value': float,
#                                     'footnote_codes': str},
#                            delim_whitespace=True)
# cpi_index_df.rename(columns={"value": "rate"})

In [4]:
# Import data
cpi_index = pd.read_csv("data/bls/cpi/bls_cpi_current.txt", delim_whitespace=True)

In [5]:
cpi_index.head()

       series_id  year period  value footnote_codes
0  APU0000701111  1995    M01  0.238            NaN
1  APU0000701111  1995    M02  0.242            NaN
2  APU0000701111  1995    M03  0.242            NaN
3  APU0000701111  1995    M04  0.236            NaN
4  APU0000701111  1995    M05  0.244            NaN

In [6]:
cpi_index.mean()

/var/folders/3n/7kvkbqjd0l9grdj7kptkcfgr0000gn/T/ipykernel_21374/2130061905.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cpi_index.mean()

year    2007.653449
dtype: float64

In [135]:
# Clean up values for various items in the CPI
cpi_index['value'] = cpi_index['value'].replace(['-'], 0.00)
cpi_index = cpi_index.astype({'value': 'float64'})

In [136]:
cpi_index.iloc[[10667]]

           series_id  year period  value footnote_codes
10667  APU0000710211  2018    M11    0.0            NaN

In [137]:
cpi_index.shape

(190076, 5)

In [138]:
def get_period(row: Series):
    return parse_cpi_index_period(row["year"], row["period"])

In [139]:
cpi_index['period'] = cpi_index.apply(lambda row: get_period(row), axis=1)

In [140]:
cpi_index.dtypes

series_id            object
year                  int64
period            period[M]
value               float64
footnote_codes       object
dtype: object

In [141]:
cpi_index.head()

       series_id  year   period  value footnote_codes
0  APU0000701111  1995  1995-01  0.238            NaN
1  APU0000701111  1995  1995-02  0.242            NaN
2  APU0000701111  1995  1995-03  0.242            NaN
3  APU0000701111  1995  1995-04  0.236            NaN
4  APU0000701111  1995  1995-05  0.244            NaN

In [142]:
cpi_index = cpi_index.set_index('period')

In [143]:
cpi_index.index

PeriodIndex(['1995-01', '1995-02', '1995-03', '1995-04', '1995-05', '1995-06',
             '1995-07', '1995-08', '1995-09', '1995-10',
             ...
             '2021-11', '2021-12', '2022-01', '2022-02', '2022-03', '2022-04',
             '2022-05', '2022-06', '2022-07', '2022-08'],
            dtype='period[M]', name='period', length=190076)

In [144]:
cpi_index.tail()

            series_id  year  value footnote_codes
period
2022-04  APUS49G7471A  2022  4.733            NaN
2022-05  APUS49G7471A  2022  5.035            NaN
2022-06  APUS49G7471A  2022  5.582            NaN
2022-07  APUS49G7471A  2022  5.451            NaN
2022-08  APUS49G7471A  2022  4.976            NaN

In [103]:
len(cpi_index[cpi_index['year'] == 2022])

4131

In [109]:
len(cpi_index.loc[cpi_index.index == '2022'])

515

In [49]:
cpi_index.dtypes

series_id          object
year                int64
value             float64
footnote_codes     object
dtype: object

In [50]:
cpi_index.head()

             series_id  year  value footnote_codes
period
1995-01  APU0000701111  1995  0.238            NaN
1995-02  APU0000701111  1995  0.242            NaN
1995-03  APU0000701111  1995  0.242            NaN
1995-04  APU0000701111  1995  0.236            NaN
1995-05  APU0000701111  1995  0.244            NaN

In [51]:
cpi_index[(cpi_index.value == 0.00)]

             series_id  year  value footnote_codes
period
2018-11  APU0000710211  2018    0.0            NaN
2018-11  APU0200710211  2018    0.0            NaN
2018-11   APU030072511  2018    0.0            NaN
2018-12   APU030072511  2018    0.0            NaN
2018-11   APU035072511  2018    0.0            NaN
2018-12   APU035072511  2018    0.0            NaN
2018-11   APUS30072511  2018    0.0            NaN
2018-12   APUS30072511  2018    0.0            NaN
1996-03   APUS49B72601  1996    0.0            NaN
1996-04   APUS49B72601  1996    0.0            NaN
1996-03   APUS49B72611  1996    0.0            NaN
1996-03   APUS49B72620  1996    0.0            NaN

In [52]:
federal_funds_rates = pd.read_csv("data/fed/federal_funds_effective_rate.csv")

In [53]:
federal_funds_rates.head()

  time_period  federal_funds_effective_rate
0  1954-07-01                          1.13
1  1954-07-02                          1.25
2  1954-07-03                          1.25
3  1954-07-04                          1.25
4  1954-07-05                          0.88

In [54]:
federal_funds_rates.shape

(24911, 2)

In [55]:
federal_funds_rates = federal_funds_rates.astype({'federal_funds_effective_rate': 'float64',
                                                      'time_period': 'datetime64'}) \
                                                .rename(columns={'time_period': 'period'}) \
                                                .set_index('period')

In [56]:
federal_funds_rates.index.dtype

dtype('<M8[ns]')

In [57]:
federal_funds_rates = federal_funds_rates.resample('M').mean()

In [58]:
federal_funds_rates.index.dtype

dtype('<M8[ns]')

In [59]:
federal_funds_rates.index = federal_funds_rates.index.to_period('M')

In [60]:
federal_funds_rates.index.dtype

period[M]

In [61]:
federal_funds_rates.head()

         federal_funds_effective_rate
period
1954-07                      0.799355
1954-08                      1.220645
1954-09                      1.066667
1954-10                      0.848710
1954-11                      0.833667

In [62]:
federal_funds_rates.shape

(819, 1)

In [63]:
cpi_index.shape

(190076, 4)

In [64]:
cpi_index.head()

             series_id  year  value footnote_codes
period
1995-01  APU0000701111  1995  0.238            NaN
1995-02  APU0000701111  1995  0.242            NaN
1995-03  APU0000701111  1995  0.242            NaN
1995-04  APU0000701111  1995  0.236            NaN
1995-05  APU0000701111  1995  0.244            NaN

In [65]:
treasury_long_term_bond_rates = pd.read_csv("data/treasury/real-long-term-rates-2000-2021.csv")

In [66]:
treasury_long_term_bond_rates.head()

       date  long_term_real_average
0  12/31/21                   -0.52
1  12/30/21                   -0.51
2  12/29/21                   -0.45
3  12/28/21                   -0.48
4  12/27/21                   -0.50

In [67]:
treasury_long_term_bond_rates = treasury_long_term_bond_rates.astype({'long_term_real_average': 'float64',
                                                                          'date': 'datetime64'}) \
                                                                    .rename(columns={'date': 'period'}) \
                                                                    .set_index('period')

In [68]:
treasury_long_term_bond_rates.dtypes

long_term_real_average    float64
dtype: object

In [69]:
treasury_long_term_bond_rate_monthly_average = treasury_long_term_bond_rates.rolling(window=30)['long_term_real_average'].mean()

In [70]:
treasury_long_term_bond_rates.shape

(5504, 1)

In [71]:
treasury_long_term_bond_rate_monthly_average.index = treasury_long_term_bond_rate_monthly_average.index.to_period('M')

In [113]:
treasury_long_term_bond_rates.dtypes

long_term_real_average    float64
dtype: object

In [73]:
treasury_long_term_bond_rates.head()

            long_term_real_average
period
2021-12-31                   -0.52
2021-12-30                   -0.51
2021-12-29                   -0.45
2021-12-28                   -0.48
2021-12-27                   -0.50

In [74]:
s_and_p_500_stock_prices = pd.read_csv("data/wsj/s_and_p_500_historical_prices.csv")

In [75]:
s_and_p_500_stock_prices = s_and_p_500_stock_prices.astype({'Date': 'datetime64'}) \
                                                                 .rename(columns={'Date': 'period'}) \
                                                                 .set_index('period')

In [76]:
s_and_p_500_stock_prices.shape

(11274, 4)

In [77]:
s_and_p_500_stock_prices = s_and_p_500_stock_prices.resample('M').mean()

In [78]:
s_and_p_500_stock_prices.shape

(537, 4)

In [79]:
s_and_p_500_stock_prices.dtypes

 Open     float64
 High     float64
 Low      float64
 Close    float64
dtype: object

In [80]:
bank_prime_rates = pd.read_csv("data/fed/bank_prime_rate.csv")

In [81]:
bank_prime_rates.head()

  time_period  bank_prime_rate
0  1955-08-04             3.25
1  1955-08-05             3.25
2  1955-08-06             3.25
3  1955-08-07             3.25
4  1955-08-08             3.25

In [82]:
s_and_p_500_stock_prices.head()

                 Open       High        Low      Close
period
1978-01-31  90.254286  91.080000  89.747619  90.254286
1978-02-28  88.922632  89.453684  88.481053  88.922632
1978-03-31  88.819545  89.307727  88.189091  88.819545
1978-04-30  92.710500  93.397500  91.872500  92.710500
1978-05-31  97.412273  98.222273  96.579545  97.412273

In [83]:
cpi_index.head()

             series_id  year  value footnote_codes
period
1995-01  APU0000701111  1995  0.238            NaN
1995-02  APU0000701111  1995  0.242            NaN
1995-03  APU0000701111  1995  0.242            NaN
1995-04  APU0000701111  1995  0.236            NaN
1995-05  APU0000701111  1995  0.244            NaN

In [84]:
treasury_long_term_bond_rates.head()

            long_term_real_average
period
2021-12-31                   -0.52
2021-12-30                   -0.51
2021-12-29                   -0.45
2021-12-28                   -0.48
2021-12-27                   -0.50

In [85]:
federal_funds_rates.head()

         federal_funds_effective_rate
period
1954-07                      0.799355
1954-08                      1.220645
1954-09                      1.066667
1954-10                      0.848710
1954-11                      0.833667

In [209]:
federal_funds_rates.head()

         federal_funds_effective_rate
period
1954-07                      0.799355
1954-08                      1.220645
1954-09                      1.066667
1954-10                      0.848710
1954-11                      0.833667

In [ ]:
cpi_index = cpi_index.groupby("period").mean()

In [170]:
federal_funds_rates_array = federal_funds_rates.loc[federal_funds_rates.index >= '2000'].index.to_numpy()

In [173]:
cpi_index_array = cpi_index.loc[cpi_index.index >= '2000'].index.to_numpy()

In [ ]:
series = zip(cpi_index_array, federal_funds_rates_array)

In [210]:
federal_funds_rates_after_2000 = federal_funds_rates.loc[federal_funds_rates.index >= '2000']

In [211]:
cpi_index_after_2000 = cpi_index.loc[cpi_index.index >= '2000']

In [218]:
federal_funds_rates_array_after_2000 = federal_funds_rates_after_2000["federal_funds_effective_rate"].to_numpy()

In [222]:
cpi_index_array_after_2000 = cpi_index_after_2000["value"].to_numpy()

In [223]:
len(cpi_index_array_after_2000)

272

In [224]:
series = zip(cpi_index_array_after_2000, federal_funds_rates_array_after_2000)

In [226]:
cpi_index_array_after_2000

array([ 9.52256979,  9.58644118,  9.63173607,  9.71011148,  9.96946477,
       10.31310116, 10.57736469, 10.48265455, 10.94900493, 11.36254257,
       11.61160745, 12.07371986, 13.23714165, 13.38721477, 13.13539226,
       12.92385835, 12.75986449, 12.29582624, 11.81923729, 11.4629661 ,
       11.19101356, 10.74599324, 10.90429032, 11.07567007, 10.9928277 ,
       10.55014622, 10.53710235, 10.74822635, 10.82535204, 10.82369165,
       10.84518228, 10.84081122, 10.90891823, 11.06527474, 11.37029503,
       11.4358431 , 11.7274244 , 12.01072432, 13.02301541, 12.82549742,
       12.75430314, 12.93742957, 12.88111938, 12.81959619, 12.88040728,
       12.77716118, 12.88154974, 13.03076923, 13.2375    , 13.12379758,
       12.84624525, 12.88053356, 13.25533042, 13.68098084, 13.83050877,
       13.80781739, 13.48255095, 13.88673545, 14.68927208, 14.76189735,
       14.63040845, 14.15604878, 14.10347644, 14.71133625, 14.84603186,
       14.60176532, 14.93841739, 15.15142683, 16.41889043, 18.31164386,
       18.69801237, 18.05587478, 18.26872396, 16.86671601, 16.27160413,
       16.04921244, 16.01443621, 15.48779557, 15.60543101, 15.69138501,
       15.70914796, 15.094821  , 15.60512137, 15.96550429, 15.84575643,
       15.70572881, 16.0335399 , 16.13875468, 16.32935788, 16.40767627,
       16.28937372, 15.76701528, 15.64857895, 15.72760884, 16.03857432,
       16.13409306, 16.07300336, 16.25742905, 16.7778104 , 17.51536887,
       18.42894359, 19.16518687, 20.17298316, 19.36077365, 17.88371597,
       17.61504422, 16.95715646, 16.77005442, 16.44028668, 15.97742282,
       15.45179357, 15.04849069, 14.65588356, 14.64939731, 14.74574493,
       14.6939747 , 14.45464189, 14.81193299, 15.22612842, 15.10048129,
       15.23909817, 15.10908264, 15.06276539, 14.94985667, 14.77151575,
       14.67886416, 14.87364321, 14.79390701, 14.48042553, 14.72229236,
       14.5652907 , 14.72227934, 14.77271074, 14.95450744, 14.98093035,
       15.09283967, 15.26416388, 15.07158756, 15.12931536, 15.1745938 ,
       15.03171289, 14.9085    , 14.92085333, 14.79046755, 14.78893012,
       14.48981032, 14.44221761, 14.34950415, 14.16281469, 14.1986611 ,
       14.27045439, 14.49694693, 14.49981198, 14.40834628, 14.73614118,
       14.80520638, 14.77875503, 14.85347746, 14.80651926, 15.05077685,
       15.33075379, 15.45699831,  3.00772653,  3.0065122 ,  2.9877137 ,
        3.01179867,  2.92225887,  2.93613125,  2.946     ,  3.00109148,
        3.06177339,  3.14332008,  3.14775258,  3.1544    ,  3.13268737,
        3.13461491,  3.11304772,  3.08315625,  2.99124896,  2.91299175,
        2.75847205,  2.78764536,  2.83439175,  2.81291786,  2.89081743,
        2.90945417,  2.92479339,  2.88161826,  2.80067288,  2.75268607,
        2.70554777,  2.63829684,  2.57890063,  2.51501895,  2.55615336,
        2.61333333,  2.65218969,  2.68298148,  2.62784124,  2.59940994,
        2.62543006,  2.64192569,  2.59384188,  2.60042766,  2.63974788,
        2.62818008,  2.64376907,  2.68927637,  2.70603158,  2.69224948,
        2.67440956,  2.71250518,  2.79319247,  2.77213191,  2.82044989,
        2.80404478,  2.7168566 ,  2.73197543,  2.73321698,  2.74438294,
        2.78767216,  2.79502372,  2.78036709,  2.77826134,  2.78046279,
        2.79466543,  2.66690993,  2.60744567,  2.56621179,  2.58471193,
        2.66617615,  2.77049634,  2.79194981,  2.72476923,  2.73386339,
        2.68470588,  2.68724176,  2.71058672,  2.72066914,  2.70172828,
        2.69952407,  2.66625974,  2.6331501 ,  2.51128913,  2.61571926,
        2.72495409,  2.654566  ,  2.63681854,  2.62135529,  2.61387698,
        2.59396945,  2.67628773,  2.74537903,  2.81931791,  2.94595565,
        3.01184646,  3.087072  ,  3.20415851,  3.26496032,  3.27717485,
        3.30478627,  3.40155146,  3.46282583,  3.40449416,  3.4176835 ,
        3.50314369,  3.84493834,  3.8843071 ,  4.06087016,  4.26931969,
        4.13082192,  3.90057198])

In [227]:
federal_funds_rates_array_after_2000

array([5.4483871 , 5.73482759, 5.85354839, 6.01966667, 6.26806452,
       6.52833333, 6.54451613, 6.49677419, 6.517     , 6.50935484,
       6.51433333, 6.40225806, 5.97580645, 5.49428571, 5.31096774,
       4.802     , 4.21225806, 3.96966667, 3.76903226, 3.65258065,
       3.069     , 2.48516129, 2.087     , 1.81774194, 1.72967742,
       1.73964286, 1.73      , 1.753     , 1.75129032, 1.75033333,
       1.72903226, 1.74322581, 1.75066667, 1.75483871, 1.336     ,
       1.2383871 , 1.23516129, 1.26214286, 1.25290323, 1.258     ,
       1.25903226, 1.22266667, 1.01129032, 1.02903226, 1.01      ,
       1.01      , 0.996     , 0.98419355, 0.99709677, 1.00724138,
       1.0016129 , 1.004     , 1.00451613, 1.02566667, 1.26354839,
       1.42935484, 1.605     , 1.76096774, 1.932     , 2.15612903,
       2.27935484, 2.50178571, 2.62903226, 2.785     , 3.00258065,
       3.03566667, 3.26258065, 3.49967742, 3.623     , 3.77935484,
       3.999     , 4.15709677, 4.28516129, 4.49142857, 4.58935484,
       4.79033333, 4.94032258, 4.991     , 5.23516129, 5.24645161,
       5.25466667, 5.24516129, 5.24566667, 5.23806452, 5.2483871 ,
       5.25892857, 5.25677419, 5.24966667, 5.25354839, 5.254     ,
       5.2583871 , 5.02225806, 4.938     , 4.75548387, 4.48666667,
       4.24451613, 3.94032258, 2.98068966, 2.61032258, 2.27833333,
       1.9783871 , 2.001     , 2.00967742, 1.99645161, 1.81166667,
       0.96935484, 0.38766667, 0.15516129, 0.15419355, 0.22214286,
       0.18064516, 0.15033333, 0.17741935, 0.20633333, 0.15580645,
       0.16032258, 0.14666667, 0.11806452, 0.119     , 0.11806452,
       0.11      , 0.12642857, 0.16451613, 0.19833333, 0.20064516,
       0.17666667, 0.18258065, 0.18935484, 0.19466667, 0.19129032,
       0.19433333, 0.18322581, 0.1683871 , 0.15678571, 0.13870968,
       0.098     , 0.09387097, 0.092     , 0.07096774, 0.09580645,
       0.084     , 0.07064516, 0.081     , 0.0716129 , 0.08193548,
       0.1037931 , 0.12677419, 0.13933333, 0.15580645, 0.16166667,
       0.15645161, 0.13225806, 0.14433333, 0.1583871 , 0.16066667,
       0.16451613, 0.14258065, 0.145     , 0.14354839, 0.145     ,
       0.10903226, 0.09366667, 0.09258065, 0.08290323, 0.08      ,
       0.08709677, 0.08433333, 0.08516129, 0.0716129 , 0.06642857,
       0.07806452, 0.09033333, 0.08709677, 0.09566667, 0.09096774,
       0.08806452, 0.08833333, 0.08903226, 0.092     , 0.12258065,
       0.11483871, 0.11071429, 0.11290323, 0.12466667, 0.12322581,
       0.129     , 0.13032258, 0.13806452, 0.136     , 0.12354839,
       0.11766667, 0.24064516, 0.34290323, 0.37517241, 0.36225806,
       0.36533333, 0.36516129, 0.37766667, 0.3916129 , 0.39677419,
       0.39633333, 0.39645161, 0.40666667, 0.54      , 0.64967742,
       0.65678571, 0.78612903, 0.896     , 0.90741935, 1.04      ,
       1.15064516, 1.15709677, 1.15333333, 1.15387097, 1.157     ,
       1.3016129 , 1.41451613, 1.4175    , 1.50612903, 1.69233333,
       1.7       , 1.81966667, 1.91      , 1.91483871, 1.95466667,
       2.18774194, 2.19766667, 2.27419355, 2.4       , 2.4       ,
       2.40516129, 2.42366667, 2.39096774, 2.37766667, 2.40290323,
       2.12580645, 2.043     , 1.82967742, 1.55333333, 1.55096774,
       1.55064516, 1.58310345, 0.65225806, 0.049     , 0.05      ,
       0.07766667, 0.09258065, 0.09516129, 0.09      , 0.09      ,
       0.08633333, 0.09      , 0.08516129, 0.07571429, 0.06967742,
       0.069     , 0.05806452, 0.078     , 0.09806452, 0.09225806,
       0.07933333, 0.07903226, 0.07966667, 0.07967742, 0.07935484,
       0.08      , 0.20096774, 0.33      , 0.76548387, 1.205     ,
       1.67580645, 2.33      , 2.33      ])

In [1]:
count = 1
for x, y in series:
    print(f"{x}, {y}")
    count +=1
    
print(count)

NameError: name 'series' is not defined